@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'cardinalfruit-med';
    src: url('./assets/fonts/cardinalfruitweb-medium.woff2');
}

@font-face {
    font-family: 'cardinalfruit-it';
    src: url('./assets/fonts/cardinalfruitweb-italic.woff2');
}

@font-face {
    font-family: 'SuiseeIntl';
    src: url('./assets/fonts/SuisseIntlMono-Regular.otf');
}
