@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-black text-[#D5CDC4] m-0 p-0 font-['Inter'];
  }
}

@layer base {
  @font-face {
    font-family: "Ogg";
    src: url("./assets/fonts/Ogg-Medium.woff2");
  }

  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter.woff2");
  }
}
